<nav class="h-100" id="sidebar">
    <div class="sidebar-header">
        <h3>Institution</h3>
    </div>

    <div class="list-unstyled sidebar-btn-div d-flex flex-column gap-3">
        <button class="sidebar-btn " [routerLink]="['dashboard']" routerLinkActive="router-link-active">DashBoard</button>
        <button class="sidebar-btn" [routerLink]="['student-attendance']" routerLinkActive="router-link-active">Student Attendance</button>
        <button class="sidebar-btn" [routerLink]="['student-fee']" routerLinkActive="router-link-active">Student Fee</button>
        <button class="sidebar-btn" [routerLink]="['student-list']" routerLinkActive="router-link-active">Student List</button>
        <button class="sidebar-btn" [routerLink]="['teacher-list']" routerLinkActive="router-link-active">Teacher List</button>
        <button class="sidebar-btn" [routerLink]="['teacher-payment']" routerLinkActive="router-link-active">Teacher Payment</button>
        <button class="sidebar-btn" [routerLink]="['time-table']" routerLinkActive="router-link-active">Time Table</button>  
    </div>
</nav>
